
# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
.terraformrc
terraform.rc

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
.terraformrc
terraform.rc
.env
.env

frontend/node_modules/
